# Ignore Python cache directories
__pycache__/

# Ignore checkpoint files
checkpoints/
checkpoints_old/
precomputed/

# Ignore audio samples
AudioTensors/

# Ignore TopoModelX
TopoModelX/

# Other rules...
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
env/